.product-returns-counter {
  width: 164px;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  display: inline-block;
  line-height: 1;
  border: solid 1px #c4c1bf;
  border-radius: 0.3em;
}

.product-returns-counter-button {
  width: 40px;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
  border: 0;
}

.product-returns-counter-button-enable {
  color: #f96302;
}

.product-returns-counter-button-disable {
  color: #a4a3a3;
}

.product-returns-counter-input {
  width: 80px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  border: 0;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
